body {
    margin: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ul {
    display: flex;
     flex-direction: row;
    list-style: none; 
  } 

  .content {
    position: relative;
  }
  
  .film {
    position: absolute;
    right: -800px;
    left: 0;
    overflow: hidden;
    
  }
  
  .film-inner {
     height: 100vh;
     display: flex;
     /* transform: rotate(16deg); */
  }
  
  .film-line {
    flex-shrink: 0;
    margin-right: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
   /* @keyframes marqueeLine { */
    from {
      transform: translateX(-20%);
    }
    
    to {
      transform: translateX(-180%);
    }
  } */
  